body {
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2f2d38;
        color: #dddddd;
    }
}

#question-container {
    margin: 1rem 0rem;
}

#submit {
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
}

footer p {
    font-size: 0.85rem;
}