/* Home Page Styling */
#home-page {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#home-page h1 {
    font-size: 3rem;
    color: var(--accent-color);
}

#home-page h2 {
    font-size: 2rem;
}

#home-page section {
    background-color: var(--background-light);
    padding: 0rem 2rem 2rem 4rem;
    width: 75vw;
    margin-bottom: 2rem;
}

/* Source links */
#home-page .source-link {
    color: var(--accent-color);
    text-decoration: none;
    font-size: .65rem;
    vertical-align: top;
}


/* General alignment and sizing */
#home-page iframe {
    border: none;
    width: 20rem;
    height: 20rem;
}

#home-page img {
    max-height: 25rem;
    max-width: 25rem;
}

#home-page .float-left {
    float: left;
    margin-right: 1.5rem;
}

#home-page .float-right {
    float: right;
    margin-left: 1.5rem;
}

#home-page .align-right {
    text-align: right;
}

#home-page .align-left {
    text-align: left;
}

/* Figures */
#home-page .figure-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#home-page .figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

#home-page .figure-number {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--accent-color);
    margin-bottom: 1.25rem;
    padding: .35rem 1rem;
    border-radius: 1rem;
    user-select: none;
}

#home-page .figure-number:hover {
    box-shadow: 0 0 1rem var(--accent-color);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

#home-page .figure-description {
    font-weight: 500;
}

/* Skull comparison */
#home-page .skull-comparison {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 3rem;
}

#home-page .skull-comparison img {
    height: 12rem;
    width: 12rem;
    padding: 1rem;
    border-radius: 3rem;
    user-select: none;
}

#home-page .skull-comparison img:hover {
    box-shadow: 0 0 1.5rem var(--accent-color);
    transform: scale(1.1);
    transition: all 0.5s ease;
}


/* Gallery */
#home-page .gallery img {
    height: 20rem;
    width: 20rem;
}

#home-page .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#home-page .gallery button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 3rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--accent-color);
    border: none;
}

#home-page .gallery button:hover {
    cursor: pointer;
}

#home-page .gallery button:active {
    opacity: 0.65;
}