/* Font Imports and Animations */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    } 
 } 

/* Colors */
:root {
    --background: #29292a;
    --background-light: #3b3b3b;
    --background-lightest: #505050;
    --background-select: #324151;
    --foreground: #f8f8f8;;
    --accent-color: rgba(75, 191, 223, 0.875);
    --highlight-color: rgba(207, 207, 207, 0.292);
}

/* General Styling */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    background-color: var(--background);
    color: var(--foreground);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.75;
}

/* Text Highlight Color */
::selection {
    background-color: var(--highlight-color);
}

/* NavBar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-light);
    color: #ffffff;
}

nav > div {
    padding: .8rem 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

nav .nav-title {
    user-select: none;
}

nav a, nav a:visited, nav .nav-title {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: .9rem;
    padding: .5rem;
}